*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: #61baff;
background: radial-gradient(circle, rgba(97, 186, 255, 1) 20%, rgba(8, 31, 207, 1) 79%);
}

#formCadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 300px;

}
.btn{
    height: 30px;
    
    background-color: rgb(23, 50, 109);
    color: aliceblue;
    width: 150px;
    border-radius: 15px;
 }

 .btn:hover{
    background-color: #090979;
 }
 

input{
    height: 30px;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: rgb(0, 17, 255);
}